<form th:action="" method="post">
    <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" class="form-control" name="categoryName" id="categoryName" placeholder="Input Category Name">
    </div>
    <div class="mb-3">
        <label for="categorySlug" class="form-label">Slug</label>
        <input type="text" class="form-control" name="categorySlug" id="categorySlug">
    </div>
    <div class="mb-3">
        <label for="categoryDesc">Description</label>
        <input type="text" class="form-control" name="categoryDesc" id="categoryDesc">
    </div>
</form>